body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.map-container {
  width: 100%;
  height: 80vh;
  /* border: 2px solid darkgrey; */
  border-radius: 5px;
  /* overflow: hidden; */
}

.top {
  display: flex;
  min-height: 20vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}

.game {
  flex-grow: 8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game button {
  background-color: #edabab;
  height: 25px;
  border: none;
  font-size: 20px;
}

.nextCity {
  margin-left: 2em;
  border-radius: 5px;
}

.title {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  text-align: center;
}

.map-edit {
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0 1em;
}

.map-edit img {
  border-radius: 100%
}

caption {
  margin-top: .2em;
  font-size: 13px;
}

.edit-buttons {
  margin-top: 5px;
  display: flex;

  & :hover {
    cursor: pointer;
  }
}

.gameCount {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin-bottom: 10px;
  cursor: auto;
}

button.newGame {
  background-color: #cf463a;
  color: #eee;
  border-radius: 5px;
}

.centerVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  color: #cf463a;
}

.cityToGuess {
  text-decoration: underline;
}